body 
    margin: 0
    background: #ebebeb23

* 
    box-sizing: border-box

.container 
    width: 1160px
    margin: 0 auto
    text-align: center 
    align-items: center


.main-header
    z-index: -1

.header-first-line 
    background-color: #2a2b2c
    border-top: 1px solid red
    color: white
    height: 40px
    display: flex
    align-items: center
    


.header-container 
    display: flex
    justify-content: space-between
    flex-direction: row
    align-items: center

.first-line-login-cart 
    position: relative
    display: flex
    justify-content: space-around
    align-items: center

.login-register
    position: relative
    bottom: 2px
    cursor: pointer
    margin: 0 8px

.cart-btn 
    display: flex
    justify-content: space-around
    align-items: center
    width: 80px
    height: 60px
    background: #cb3333
    color: white
    border: none
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    box-shadow: 0 8px 8px -2px gray
    outline: none
    cursor: pointer

.cart-btn img
    height: 25px
    width: 25px

.header-second-line 

    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 15px 0
 


.header-nav 
    padding: 0
    display: flex
    flex-direction: row 
    justify-content: space-between
    list-style: none
    width: calc( 100% - 360px )
    

.header-nav NavLink
    text-decoration: none
    text-transform: uppercase
    color: black
    font-weight: 700


    
.welcome-to-musica
    display: flex
    flex-direction: row
    


.welcome-to-musica-content
    display: flex
    flex-direction: row
    text-align: start
    justify-content: space-between

.welcome-heading
    font-size: 35px

.welcome-heading span
    background: #cb3333
    padding: 4px
    color: white
.options
    width: calc( 100% /3  )
    height: 130px
    border: 1px solid transparent
    padding: 15px 13px
    border-radius: 4px
    background: #1e1e20
    color: white
    font-size: 15px
 
.options h3 
    display: flex
    align-items: center
    position: relative
    font-size: 16px
    margin: 0
   

.options h3 img
    position: relative
    top: 2px
    margin-right: 15px
    

.options:last-child, .options:first-child
    background: #cc3333

.options:nth-last-child(2)
    margin: 0 15px

.arrivals-header 
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 50px 

.arrivals-header h1 
    margin: 0
    font-size: 25px

.arrivals-header img
    width: 730px
    height: 10px
    margin: 12px 0
    
.arrows-btn
    background: #cc3333
    outline: none
    border: none
    margin: 3px
    width: 25px
    height: 25px
    border-radius: 2px
    cursor: pointer

.arrows-btn img 
    position: relative
    top: -8px
    width: 15px
    height: 15px


.product-list
    display: flex
    flex-direction: row
    margin: 0
    justify-content: space-between
    align-items: flex-start
    padding: 0
    
.products-item 
    background: #ffffff
    list-style: none
    border: 1px solid #f2f2f2
    width: 250px
    height: 450px
    margin: 10px 0  
    

.products-item  img
    width: 248px


.about
    text-align: start
    font-size: 15px

.title
    font-weight: 500
    
.title span
    margin-left: 10px
    font-weight: 400
.product-container
    margin: 20px 12px
    display: flex
    flex-direction: column

.price-cart-btn
    display: flex
    flex-direction: row
    justify-content: space-between
    

.price-cart-btn button
    display: flex   
    color: white
    background: rgb(30,30,32)
    border: none
    height: 23px
    border-radius: 4px
    padding: 5px
    font-size: 12px
    align-items: center
    cursor: pointer
    outline: none

.price-cart-btn  span
    color: #c92c2c
    font-weight: 500
.modal-window
    display: flex
    align-items: flex-start
    flex-direction: column
    font-size: 15px
    border: 1px solid #ffffff
    background-color: #ffffff
    margin: -187px 250px 600px 900px
    width: 360px
    position: absolute
    padding: 10px

.about-product
    height: 90px
    width: 100% 
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 0.5px dotted #645b5b
    align-items: center

.title-count
    height: 90px
    font-size: 20px
    width: 340px
    float: left
    display: flex
    flex-direction: row
  
.title-count h3,.title-count p
    font-size: 18px
    padding: 0 15px
    margin-bottom: 
    padding: 0

.title-count img
    width: 50px
    height: 50px
    position: absolute
    margin: 18px 0
        

.price-remove-btn
    margin: 50px 0
    width: 50px 
    display: flex
    flex-direction: column
    justify-content: space-around


.about-cart
    width: 76vw
    padding-left: 20px
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-left: 35px   



.modal-window 
    margin: 0 auto
    width: 500px
    height: 300px
    background-color: #ff5a48
    border-radius: 4px
    border: none
    position: relative
   
.background 

  position: absolute
  z-index: 1
  width: 100%
  
  background-color: #ffffff00

.modal-header-container 
    border-radius: 4px
    border: none
    display: flex
    justify-content: space-between
    align-items: baseline
    background-color: #ff5a48

.modal-header 
    position: relative
    bottom: 4px
    color: white
    width: 100%
    font-size: 20px
    padding: 15px 0
    font-weight: 600

.close-btn 
    position: relative
    bottom: 3px
    color: white
    right: 10px
    background-color: #ff5a48
    float: right
    outline: none
    border: none
    cursor: pointer
    font-size: 30px
    left: 70px


.maintext 
  margin: 60px 15px
  color: white
  font-size: 20px

.button-container
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%

.button-container button
    outline: none
    width: 90px
    height: 40px
    color: white
    background: #ee3737
    border: none
    cursor: pointer

.checkout-card 
    display: flex
    flex-direction: column
   
    
.checkout-item
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 50%
        
.checkout-item button
    width: 25px
    height: 25px
    border-radius: 100%
    color: white
    background: #d23939
    border: none
    cursor: pointer
    outline: none

.cart-header
    display: flex
    flex-direction: row
    text-align: flex-start
    align-items: flex-start
    justify-content: space-between
    width: 50%