* {
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  min-width: 150px;
  margin: 5px 8px;
  color: white;
  outline: none;
}
.background {
  padding: 150px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 54, 58);
}
.modal-window {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  background-color: #e74c3c;
  border-radius: 4px;
  border: none;
}
.header-container {
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #d44637;
}
.header {
  position: relative;
  bottom: 4px;
  color: white;
  width: 70%;
  font-size: 20px;
  padding: 15px 0;
  font-weight: 600;
}

.close-btn {
  position: relative;
  bottom: 3px;
  color: white;
  right: 10px;
  background-color: #d44637;
  float: right;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}
.maintext {
  margin: 60px 15px;
  color: white;
  font-size: 13px;
}
