body {
  margin: 0 auto;
  min-width: 1200px;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.background-img {
  background: url("../img/background/section-1\(header\).jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
}
.header {
  background: rgba(56, 55, 52, 0.61);
  height: 75px;
}
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  flex-wrap: nowrap;
}
.header-nav {
  display: flex;
}

.logo h6 {
  position: relative;
  bottom: 5px;
  float: right;
  color: white;
  font-size: 20px;
  font-weight: 20;
}
.logo span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #18cfab;
  font-weight: 650;
  font-size: 20px;
}
.logo img {
  position: relative;
  top: 27px;
  width: 50px;
  height: 60px;
  float: left;
}
.header-nav-link {
  padding-top: 5px;
  float: left;
}
.header-nav-link a {
  margin: 0 15px;
  transition: 0.5s all;
  font-weight: 900;
  color: #b8b8b8;
  font-size: 13px;
  text-decoration: none;
  padding-bottom: 30px;
  border-bottom: 1px solid transparent;
}
.header-nav-link a:hover {
  color: #18cfab;
  border-bottom: 1px solid #18cfab;
}

.search-btn {
  position: relative;
  top: 3px;
  margin-left: 5px;
  padding: 0;
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}
.search-btn img {
  width: 35px;
  height: 30px;
}

.def-text {
  color: white;
  font-family: sans-serif;
}
.def-text span {
  color: #18cfab;
}
.second-line-text {
  font-weight: bold;
  transform: scale(1.1, 1);
  font-size: 43px;
  margin: 0;
}
.third-line-text {
  font-size: 20px;
  margin: 15px;
  color: #d4d4d4;
  font-weight: lighter;
  transform: scale(1.1, 1);
}
.container-text-buttons {
  padding: 180px 0;
}
.first-section-buttons {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.first-section-buttons button {
  border-radius: 4px;
  box-shadow: 0 -3px white;
  height: 55px;
  width: 150px;
  border: none;
  padding: 0;
  font-size: 13px;
  color: white;
  font-weight: 750;
  cursor: pointer;
}
.explore-now {
  background-color: #18cfab;
  margin-right: 10px;
}
.purchase-now {
  background-color: #00cbf6;
  margin-left: 10px;
}

.second-section-option {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.option {
  border-top: 4px solid;
  width: calc(100% / 4);
  text-align: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.option img {
  position: relative;
  left: 33%;
  width: 35%;
}
.option span {
  position: relative;
  bottom: 15%;
}
.background-dark {
  border-color: #18cfab;
  background: #1c2a33;
}
.background-light {
  border-color: #fff;
  background: #18cfab;
}
.text-white {
  position: relative;

  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.text-aqua {
  color: #18cfab;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.ourservices {
  margin: 75px 0 23px;
  text-align: center;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: #4e4e4e;
}
hr {
  border: none;
  height: 0.1vh;
  width: 70px;
  background-color: #18cfab;
}
.left-line {
  margin: 10px auto;
}
.right-line {
  position: relative;
  left: 2%;
  margin-top: -3px;
  margin-bottom: 75px;
}
.ourservices-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 85%;
}
.ourservices-nav-bar li {
  background-color: #f8fcfe;
  width: 60%;
  border: 1px solid #ebebeb;
  display: block;
  color: #717171;
  padding: 20px 16px;
  cursor: pointer;
  position: relative;
  transition: 0.5s all;
}

.ourservices-nav-bar .active-ourservices {
  background-color: #18cfab;
  color: white;
}
.ourservices-nav-bar li:hover {
  background-color: #18cfab;
  color: white;
}
.ourservices-nav-bar li.active-ourservices:after {
  transition: 0.5s all;
  content: " ";
  position: absolute;
  border: solid 10px transparent;
  border-top: solid 0px transparent;
  border-width: 14px;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-color: #18cfab transparent transparent transparent;
}

#tabContent {
  margin-top: 40px;
  margin-bottom: 0;
  list-style-type: none;
  text-align: left;
  padding: 0;
  height: 300px;
}
.content img {
  float: left;
  padding-right: 15px;
}
.content {
  text-align: justify;
}
.section-purchase {
  height: 480px;
  position: relative;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-purchase:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../img/background/section-2.jpg");
  filter: brightness(25%);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.section-purchase-text h3 {
  width: 100%;
  padding-top: 20px;
  font-size: 40px;
  color: #18cfab;
  font-weight: bold;
}
.section-purchase-text h5 {
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
.purchase-btn {
  margin: 45px 0 60px;
  border-radius: 4px;
  box-shadow: 0 -3px white;
  height: 60px;
  width: 150px;
  border: none;
  padding: 0;
  font-size: 13px;
  color: white;
  font-weight: 750;
  cursor: pointer;
  background-color: #18cfab;outline: none;
}
.section-amazing-work {
  background: #f8fcfe;
  display: flex;
  flex-direction: column;
}
.amazing-work {
  margin: 0;
  display: block;
  padding: 75px 0 20px;
  font-size: 30px;
  font-weight: lighter;
  color: #4e4e4e;
}
.amazing-work-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 80px 0;
}

.amazing-work-bar li a {
  background-color: #fff;
  width: 170px;
  height: 100%;
  display: inline-block;
  color: #717171;
  cursor: pointer;
  transition: 0.5s all;
  border: 1px solid #ebebeb;
  text-decoration: none;
  padding: 20px 16px;
  border-top: 2px solid #ebebeb;
}

.filter-title.active {
  color: #18cfab;
  border-top: 2px solid #18cfab;
}
.projects-list {
  flex-wrap: wrap;
  display: flex;
}

.project-item img {
  overflow: hidden;
  float: left;
  cursor: pointer;
  height: 200px;
  width: 100%;
  display: block;
}
.projects-list :hover > .project-item:hover {
  display: none;
}
.hov {
  border-top: 2px solid #18cfab;
  padding-top: 20px;
  display: block;
}
.creative-design h3 {
  text-transform: uppercase;
}
.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #18cfab;
  color: white;
  margin: 50px auto;
  height: 60px;
  width: 150px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.load-more {
  height: 100%;
}
.footer {
  margin-top: 80px;
  background: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  color: #aeaeae;
  font-size: 20px;
}
.footer-text span {
  border-right: 1px solid #aeaeae;
  padding: 0 5px;
  color: #18cfab;
}
.project-item:hover{
  display: none;
}