body {
  height: 100vh;
  margin: 0 auto;
  background-image: url("../journeyimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
* {
  box-sizing: border-box;
}

.header-nav {
  position: relative;
  padding: 15px 70px;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.logo a {
  opacity: 1;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}
.logo a:hover {
  color: #3cb878;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.icon-sprite {
  padding: 0 18px;
  position: relative;
  margin: 0;
  
}

.icon-sprite:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: #302e2f;
  top: 20%;
  right: 0;
}
.icon-calendar {
  background-image: url("../journeyicons.png");
  background-position: -12px -3px;
  display: inline-block;
  height: 100%;
  width: 50px;
  
}

.icon-forum {
  background: url("../journeyicons.png");
  background-position: -63px -2px;
  height: 100%;
  width: 50px;
  display: inline-block;
}
.icon-compass {
  background: url("../journeyicons.png");
  background-position: -114px -2px;
  height: 100%;
  width: 50px;
  display: inline-block;
}
.icon-calendar:hover,
.icon-forum:hover,
.icon-compass:hover {
  filter: invert(53%) sepia(90%) saturate(6800%) hue-rotate(149deg)
    brightness(100%) contrast(70%);
}
.header-signin {
  padding-top: 3px;
  padding-left: 22px;
  margin: 0;
  color: white;
  font-size: 14px;
  text-align: center;

}
.header-signin a {
  text-decoration: none;
  color: #3cb878;
 
}
.header-signin a:hover {
  border-bottom: 1px solid #3cb878;

}
.container {
  margin: 30px;
  position: absolute;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 576px;
  width: 430px;
 
}
.colored-box {
  border: 1px solid #3cb878;
  height: 20px;
  width: 20px;
  margin-top: 27px;
  background-color: #3cb878;
}
.form-heading {
  display: flex;
  justify-content: space-between;
}
.loginform {
  margin-left: -20px;
  padding: 25px 60px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-header {
  font-size: 20px;
  color: #434343;
}
.loginform a {
  padding-top: 5px;
  font-size: 13px;
  color: #3cb878;
  text-decoration: none;
  height: 20px;
}
.loginform a:hover{
  border-bottom: 1px solid #3cb878;
  
}
.buttons {
  display: flex;
  justify-content: space-between;
  height: 40px;

}

.facebook {
  display: inline-flex;
  border: 0;
  background-color: #305db8;
  cursor: pointer;
  border-radius: 3px;
  width: 48%;
}
.facebook-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-size: 15px;
  color: white;
  position: relative;
}
.separator-facebook {
  margin-top: 6px;
  content: "";
  display: inline-block;
  background: #2b54a5;
  height: 26px;
  width: 1px;
}
.facebook img {
  float: left;
  padding-top: 6px;
  width: 30px;
  height: 30px;
  align-content: center;
}
.facebook:hover {
  background-color: #254b95;
}
.google {
  display: inline-flex;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  width: 48%;
  background-color: #df4a32;
}
.google img {
  float: left;
  margin-bottom: 5px;
  padding-top: 6px;
  width: 25px;
  height: 28px;
  align-content: center;
}
.google-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  font-size: 15px;
  color: white;
  position: relative;
}
.separator-google {
  margin-left: 7px;
  margin-top: 4px;
  content: "";
  display: inline-block;
  background: #c8422d;
  height: 26px;
  width: 1px;
}

.google:hover {
  background-color: #c3412b;
}
.text-or {
  margin: -10px 0;
  color: #848484;
  text-align: center;
}
.text-or:before,
.text-or:after {
  content: "";
  display: inline-block;
  height: 0.8px;
  position: relative;
  vertical-align: middle;
  width: 45%;
  background-color: #eaeaea;
}
.user-input {
  height: 40px;
  margin: -10px 0;
  padding-left: 15px;
  border: solid 1px lightgrey;
  border-radius: 2px;
  transition: all 0.3s;
}

.user-input:focus {
  border-radius: 2px;
  outline: none;
  border: thin solid 1px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.21));
}
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.agreement {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.custom-checkbox {
  display: none;
}
.checkbox-label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 13px;
  cursor: pointer;
}
.checkbox-label span:hover {
  border-bottom: 1px solid #3cb878;}

.checkbox-label span {
  color: #3cb878;
}

.custom-checkbox + .checkbox-label:before {
  content: "";
  background: #fff;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  padding: 2px;
  margin-right: 5px;
}
.custom-checkbox:checked + .checkbox-label:after {
  content: "";
  padding: 2px;
  position: absolute;
  width: 1px;
  height: 5px;
  border: solid #3cb878;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 2px;
  left: 6px;
}
.button-create {
  margin-top: -15px;
  border:none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  color: white;
  background-color: #3cb878;
}
.button-create:hover{
  cursor: pointer;
  background-color:#319965 ;
}
